<h1>Listing dells</h1>

<table>
  <tr>
    <th>First</th>
    <th>Second</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dells.each do |dell| %>
  <tr>
    <td><%= dell.first %></td>
    <td><%= dell.second %></td>
    <td><%= link_to 'Show', dell %></td>
    <td><%= link_to 'Edit', edit_dell_path(dell) %></td>
    <td><%= link_to 'Destroy', dell, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dell', new_dell_path %>
