<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @dell.first %>
</p>

<p>
  <b>Second:</b>
  <%= @dell.second %>
</p>


<%= link_to 'Edit', edit_dell_path(@dell) %> |
<%= link_to 'Back', dells_path %>
